# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache

# =========================
# Build
# =========================
bin/
obj/

# =========================
# Packages
# =========================
packages/

# =========================
# Archivos compilados
# =========================
*.dll
*.pdb
*.exe

# =========================
# Cache y temporales
# =========================
*.cache
*.log

# =========================
# Otros
# =========================
TestResults/